<ion-view view-title="Doctor Login" name="doctor-login-view">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label balanced">
                Fingerprint
            </label>
            <label class="item item-input item-stacked-label assertive">
                RFID Bracelet
            </label>
        </div>
        <button ng-click="submit()" class="button button-block button-positive">
            Submit
        </button>
    </ion-content>
</ion-view>
