<ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content>
                <ion-content>
                        <div class="list">
                                <div class="item" ng-repeat="question in questions">
                                        {{ question.body }}
                                        <div class="item-input-inset">
                                                <button class="button button-small button-balanced">
                                                        <i class="icon ion-checkmark-round"></i>
                                                </button>
                                                <button class="button button-small button-assertive">
                                                        <i class="icon ion-close-round"></i>
                                                </button>
                                        </div>
                                </div>
                        </div>
                        <button ng-click="submit()" class="button button-block button-positive">
                                Submit
                        </button>
                </ion-content>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
                <header class="bar bar-header bar-stable">
                        <h1 class="title">Categories</h1>
                </header>
                <ion-content class="has-header">
                        <ion-list>
                                <ion-item menu-close ng-repeat="category in categories"
                                                     ng-click="update(category)">
                                        {{ category }}
                                </ion-item>
                        </ion-list>
                </ion-content>
        </ion-side-menu>

</ion-side-menus>
