<ion-view>
    <header class="bar bar-header bar-dark">
        <h1 class="title">Patient Overview</h1>
        <button ng-click="logout()" class="button button-icon button-clear" menu-toggle="right">Logout</button>
    </header>
    <ion-content class="has-header">
        <div class="list card" ng-repeat="patient in patients | filter: myFilter">
            <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>
            <h3>Born: {{ patient.dob }} </h3>
            <div class="list card" ng-repeat="visit in patient.visits | orderBy:'date'">
                <h4>Date of Visit: {{ visit.date }}</p>
                <p ng-repeat="(title, scores) in visit.scores">
                    {{ title }}: {{ scores }}
                </p>
            </div>
        </div> 
    </ion-content>
</ion-view>
