<ion-view>
        <header class="bar bar-header bar-dark">
                <h1 class="title">Patient Overview</h1>
                <button ng-click="logout()" class="button button-icon button-clear">Logout</button>
        </header>
        <ion-content class="has-header">
                <div ng-if="patients.length == 0">
                        <div class="list card has-header">
                                <h4>No saved patients for this doctor.</h4> 
                        </div>
                </div>
                <div ng-if="patients.length > 0">
                        <div class="list card has-header">
                            <h4>Patients for {{ doctor }}</h4>
                        </div>
                </div>
                <div class="list card" ng-repeat="patient in patients | filter: myFilter">
                        <header class="bar bar-header bar-stable">
                                <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>
                        </header>
                        <div class="list card has-header" ng-if="patient.dateOfBirth != ''">
                                <h3>Born: {{ patient.dateOfBirth }} </h3>
                        </div>
                        <div class="list card has-header" ng-repeat="visit in patient.visits | orderBy:'date'" ng-if="patient.visits.length > 0">
                                <h4>Date of Visit: {{ visit.date }}</p>
                                        <p ng-repeat="score in visit[0].questions">
                                        {{ score.body}}: {{ score.value }}
                                        </p>
                        </div>
                        <div class="list card has-header" ng-if="patient.visits.length == 0">
                                <h4>There are no visits saved for this patient</h4> 
                        </div>
                </div> 
                </div> 
        </ion-content>
</ion-view>
