<ion-side-menus>
<!-- Center content -->
<ion-side-menu-content>
  <div class="bar bar-subheader">
    <h2 class="title">Questions</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <ul class="list card">
      <li class="item item-icon-right">
        <i class="icon"><label class="toggle toggle-balanced"><input type="checkbox"><div class="track"><div class="handle"></div></div></label></i> 
        Question 1
      </li>

      <li class="item item-icon-right">
        <i class="icon"><label class="toggle toggle-balanced"><input type="checkbox"><div class="track"><div class="handle"></div></div></label></i> 
        Question 2
      </li>

      <li class="item item-icon-right">
        <i class="icon"><label class="toggle toggle-balanced"><input type="checkbox"><div class="track"><div class="handle"></div></div></label></i> 
        Question 3
      </li>

      <li class="item item-icon-right">
        <i class="icon"><label class="toggle toggle-balanced"><input type="checkbox"><div class="track"><div class="handle"></div></div></label></i> 
        Question 4
      </li>

    </ul>
  </ion-content>
</ion-side-menu-content>

<!-- Left menu -->
<ion-side-menu side="left">
  <div class="bar bar-subheader bar-dark">
    <h2 class="title">Question Categories</h2>
  </div>
  <ion-content>
    <br/>
    <br/>
    <ul class="list card">
        <li class="item item-icon-right">
            <i class="icon"><ion-checkbox ng-model="filter.red"></ion-checkbox></i>
            Head Trauma
        </li>
        <li class="item item-icon-right">
            <i class="icon"><ion-checkbox ng-model="filter.red"></ion-checkbox></i>
            Mental Health
        </li>
        <li class="item item-icon-right">
            <i class="icon"><ion-checkbox ng-model="filter.red"></ion-checkbox></i>
            Personal Description
        </li>
  </ion-content>
</ion-side-menu>
